In [5]:
# For data manipulation
import pandas as pd

# For numerical operations (optional but useful)
import numpy as np

import seaborn as sns
# For visualizations (used in later steps, but good to import now)
import matplotlib.pyplot as plt
# Set styles for plots (optional for better visuals)
sns.set(style="whitegrid")

In [6]:
# STEP 2: Data loading and Exploration
df = pd.read_csv("owid-covid-data.csv")
display(df)
display(df.info())
print(f"Dataset conatains {df.shape[0]:} rows and {df.shape[1]:} columns\n")
print("Column names:\n", df.columns.tolist(), "\n")
print("First 5 rows of the dataset:")
display(df.head())
print("\nMissing Values in each column:")
display(df.isnull().sum().sort_values(ascending=False))

display(df.size)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350080,ZWE,Africa,Zimbabwe,2023-10-14,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350081,ZWE,Africa,Zimbabwe,2023-10-15,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350082,ZWE,Africa,Zimbabwe,2023-10-16,265808.0,0.0,5.286,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350083,ZWE,Africa,Zimbabwe,2023-10-17,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
350084,ZWE,Africa,Zimbabwe,2023-10-18,265808.0,0.0,0.000,5718.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350085 entries, 0 to 350084
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    350085 non-null  object
 1   continent                                   333420 non-null  object
 2   location                                    350085 non-null  object
 3   date                                        350085 non-null  object
 4   total_cases                                 312088 non-null  float64
 5   new_cases                                   340457 non-null  float64
 6   new_cases_smoothed                          339198 non-null  float64
 7   total_deaths                                290501 non-null  float64
 8   new_deaths                                  340511 non-null  float64
 9   new_deaths_smoothed                         339281 non-null  float64
 10  total_cases_per_million                     312088 non-null  float64
 11  new_cases_per_million                       340457 non-null  float64
 12  new_cases_smoothed_per_million              339198 non-null  float64
 13  total_deaths_per_million                    290501 non-null  float64
 14  new_deaths_per_million                      340511 non-null  float64
 15  new_deaths_smoothed_per_million             339281 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37615 non-null   float64
 18  icu_patients_per_million                    37615 non-null   float64
 19  hosp_patients                               38902 non-null   float64
 20  hosp_patients_per_million                   38902 non-null   float64
 21  weekly_icu_admissions                       10205 non-null   float64
 22  weekly_icu_admissions_per_million           10205 non-null   float64
 23  weekly_hosp_admissions                      23253 non-null   float64
 24  weekly_hosp_admissions_per_million          23253 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          79308 non-null   float64
 35  people_vaccinated                           75911 non-null   float64
 36  people_fully_vaccinated                     72575 non-null   float64
 37  total_boosters                              47562 non-null   float64
 38  new_vaccinations                            65346 non-null   float64
 39  new_vaccinations_smoothed                   180718 non-null  float64
 40  total_vaccinations_per_hundred              79308 non-null   float64
 41  people_vaccinated_per_hundred               75911 non-null   float64
 42  people_fully_vaccinated_per_hundred         72575 non-null   float64
 43  total_boosters_per_hundred                  47562 non-null   float64
 44  new_vaccinations_smoothed_per_million       180718 non-null  float64
 45  new_people_vaccinated_smoothed              180489 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  180489 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          297178 non-null  float64
 49  median_age                                  276367 non-null  float64
 50  aged_65_older                               266708 non-null  float64
 51  aged_70_older                               273597 non-null  float64
 52  gdp_per_capita                              270863 non-null  float64
 53  extreme_poverty                             174561 non-null  float64
 54  cardiovasc_death_rate                       271487 non-null  float64
 55  diabetes_prevalence                         285303 non-null  float64
 56  female_smokers                              203659 non-null  float64
 57  male_smokers                                200889 non-null  float64
 58  handwashing_facilities                      132973 non-null  float64
 59  hospital_beds_per_thousand                  239669 non-null  float64
 60  life_expectancy                             322072 non-null  float64
 61  human_development_index                     263138 non-null  float64
 62  population                                  350085 non-null  float64
 63  excess_mortality_cumulative_absolute        12184 non-null   float64
 64  excess_mortality_cumulative                 12184 non-null   float64
 65  excess_mortality                            12184 non-null   float64
 66  excess_mortality_cumulative_per_million     12184 non-null   float64
dtypes: float64(62), object(5)
memory usage: 179.0+ MB

None

Dataset conatains 350085 rows and 67 columns

Column names:
 ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'population', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

First 5 rows of the dataset:

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

Missing Values in each column:

weekly_icu_admissions                   339880
weekly_icu_admissions_per_million       339880
excess_mortality                        337901
excess_mortality_cumulative_absolute    337901
excess_mortality_cumulative             337901
                                         ...
new_deaths_per_million                    9574
location                                     0
iso_code                                     0
date                                         0
population                                   0
Length: 67, dtype: int64

23455695

In [78]:
#STEP 3: Data Cleaning
countries = ["Kenya","United States","India"]
df = df[df["location"].isin(countries)]
print("\nSummary of missing values before cleaning:")
display(df.isnull().sum())
df=df.dropna(subset=["date", "total_cases"])
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(['location', 'date'])
display(df.info())

df.fillna(method='ffill',inplace=True)
df.fillna(0, inplace=True)
display(df.head())
display(df.size)

print("\nSummary of missing bvalues after cleaning:")
display(df.isnull().sum())

Summary of missing values before cleaning:

iso_code                                      0
continent                                     0
location                                      0
date                                          0
total_cases                                   0
                                           ...
population                                    0
excess_mortality_cumulative_absolute       3852
excess_mortality_cumulative                3852
excess_mortality                           3852
excess_mortality_cumulative_per_million    3852
Length: 67, dtype: int64

<class 'pandas.core.frame.DataFrame'>
Index: 4040 entries, 139800 to 330865
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    4040 non-null   object
 1   continent                                   4040 non-null   object
 2   location                                    4040 non-null   object
 3   date                                        4040 non-null   datetime64[ns]
 4   total_cases                                 4040 non-null   float64
 5   new_cases                                   3886 non-null   float64
 6   new_cases_smoothed                          3886 non-null   float64
 7   total_deaths                                3944 non-null   float64
 8   new_deaths                                  3888 non-null   float64
 9   new_deaths_smoothed                         3888 non-null   float64
 10  total_cases_per_million                     4040 non-null   float64
 11  new_cases_per_million                       3886 non-null   float64
 12  new_cases_smoothed_per_million              3886 non-null   float64
 13  total_deaths_per_million                    3944 non-null   float64
 14  new_deaths_per_million                      3888 non-null   float64
 15  new_deaths_smoothed_per_million             3888 non-null   float64
 16  reproduction_rate                           3063 non-null   float64
 17  icu_patients                                1185 non-null   float64
 18  icu_patients_per_million                    1185 non-null   float64
 19  hosp_patients                               1185 non-null   float64
 20  hosp_patients_per_million                   1185 non-null   float64
 21  weekly_icu_admissions                       0 non-null      float64
 22  weekly_icu_admissions_per_million           0 non-null      float64
 23  weekly_hosp_admissions                      1179 non-null   float64
 24  weekly_hosp_admissions_per_million          1179 non-null   float64
 25  total_tests                                 1921 non-null   float64
 26  new_tests                                   1819 non-null   float64
 27  total_tests_per_thousand                    1921 non-null   float64
 28  new_tests_per_thousand                      1819 non-null   float64
 29  new_tests_smoothed                          2488 non-null   float64
 30  new_tests_smoothed_per_thousand             2488 non-null   float64
 31  positive_rate                               2477 non-null   float64
 32  tests_per_case                              2477 non-null   float64
 33  tests_units                                 2502 non-null   object
 34  total_vaccinations                          2149 non-null   float64
 35  people_vaccinated                           2097 non-null   float64
 36  people_fully_vaccinated                     2087 non-null   float64
 37  total_boosters                              1291 non-null   float64
 38  new_vaccinations                            2042 non-null   float64
 39  new_vaccinations_smoothed                   2642 non-null   float64
 40  total_vaccinations_per_hundred              2149 non-null   float64
 41  people_vaccinated_per_hundred               2097 non-null   float64
 42  people_fully_vaccinated_per_hundred         2087 non-null   float64
 43  total_boosters_per_hundred                  1291 non-null   float64
 44  new_vaccinations_smoothed_per_million       2642 non-null   float64
 45  new_people_vaccinated_smoothed              2642 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  2642 non-null   float64
 47  stringency_index                            3167 non-null   float64
 48  population_density                          4040 non-null   float64
 49  median_age                                  4040 non-null   float64
 50  aged_65_older                               4040 non-null   float64
 51  aged_70_older                               4040 non-null   float64
 52  gdp_per_capita                              4040 non-null   float64
 53  extreme_poverty                             4040 non-null   float64
 54  cardiovasc_death_rate                       4040 non-null   float64
 55  diabetes_prevalence                         4040 non-null   float64
 56  female_smokers                              4040 non-null   float64
 57  male_smokers                                4040 non-null   float64
 58  handwashing_facilities                      2672 non-null   float64
 59  hospital_beds_per_thousand                  4040 non-null   float64
 60  life_expectancy                             4040 non-null   float64
 61  human_development_index                     4040 non-null   float64
 62  population                                  4040 non-null   float64
 63  excess_mortality_cumulative_absolute        188 non-null    float64
 64  excess_mortality_cumulative                 188 non-null    float64
 65  excess_mortality                            188 non-null    float64
 66  excess_mortality_cumulative_per_million     188 non-null    float64
dtypes: datetime64[ns](1), float64(62), object(4)
memory usage: 2.1+ MB

None

C:\Users\jacks\AppData\Local\Temp\ipykernel_8508\1546029616.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill',inplace=True)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
139800,IND,Asia,India,2020-01-30,1.0,1.0,0.143,0.0,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,0.0,0.0,0.0,0.0
139801,IND,Asia,India,2020-01-31,5.0,4.0,0.714,0.0,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,0.0,0.0,0.0,0.0
139802,IND,Asia,India,2020-02-01,5.0,0.0,0.714,0.0,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,0.0,0.0,0.0,0.0
139803,IND,Asia,India,2020-02-02,2.0,0.0,0.714,0.0,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,0.0,0.0,0.0,0.0
139804,IND,Asia,India,2020-02-03,3.0,1.0,0.857,0.0,0.0,0.0,...,20.6,59.55,0.53,69.66,0.645,1.417173e+09,0.0,0.0,0.0,0.0

270680

Summary of missing bvalues after cleaning:

iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                0
                                          ..
population                                 0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
Length: 67, dtype: int64

In [ ]:
#STEP 4: Exploratory Data Analysis
df.describe()

#. Plot Total Cases Over Time (Line Chart)
plt.figure(figsize=(13, 6))
for country in ['Kenya', 'United States', 'India']:
    country_data = df[df['location']==country]
    plt.plot(country_data['date'], country_data['total_cases'], label=country)
plt.title('\n\nTotal COVID-19 cases Ove Time')
plt.xlabel('Date')
plt.ylabel('Total Cases')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()


# Plot Total Deaths Over Time (Line Chart)
plt.figure(figsize=(12, 6))
for country in ['Kenya', 'United States', 'India']:
    country_data = df[df['location'] == country]
    plt.plot(country_data['date'], country_data['total_deaths'], label=country)

plt.title('\n\nTotal COVID-19 Deaths Over Time')
plt.xlabel('Date')
plt.ylabel('Total Deaths')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()


# Daily New Cases Comparison
plt.figure(figsize=(12, 6))
for country in ['Kenya', 'United States', 'India']:
    country_data = df[df['location'] == country]
    plt.plot(country_data['date'], country_data['new_cases'], label=country)

plt.title('\n\nDaily New COVID-19 Cases')
plt.xlabel('Date')
plt.ylabel('New Cases')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()


#Bar Chart: Death Rate by Country
# Get the most recent record for each country
latest_df = df.groupby('location').last().reset_index()

# Avoid divide-by-zero by filtering where total_cases > 0
latest_df = latest_df[latest_df['total_cases'] > 0]

# Calculate death rate
latest_df['death_rate'] = latest_df['total_deaths'] / latest_df['total_cases']

# Sort by death rate (optional)
latest_df = latest_df.sort_values(by='death_rate', ascending=False)

# Plot
plt.figure(figsize=(15, 8))
sns.barplot(x='death_rate', y='location', data=latest_df, hue='location', palette='Reds_r', legend=False)
plt.title('\n\nCOVID-19 Death Rate by Country')
plt.xlabel('Death Rate')
plt.ylabel('Country')
plt.tight_layout()
plt.show()


#Heatmap for Correlation Analysis
# Select numeric columns
numeric_df = df[['total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'total_vaccinations']].copy()
numeric_df = numeric_df.dropna()

# Correlation heatmap
plt.figure(figsize=(8, 6))
sns.heatmap(numeric_df.corr(), annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Between COVID-19 Metrics')
plt.tight_layout()
plt.show()